body {
    font-family: "Airbnb Cereal App-Bold", Helvetica;
    overflow-x: hidden
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box
}

.overlap {
    position: relative;
    width: 1682px;
    height: 1024px;
    overflow: hidden
}

.catalog-group {
    width: 320px;
    height: 340px;
    border-radius: 15px;
    box-shadow: 0 4px 25px #00000040;
    position: relative;
    background-color: #fff
}

.img {
    position: absolute;
    width: 320px;
    height: 200px;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 15px
}

.dilan {
    position: absolute;
    width: 296px;
    height: 102px;
    top: 207px;
    left: 18px
}

.text-wrapper {
    position: absolute;
    width: 131px;
    top: 0;
    left: 94px;
    font-family: "Airbnb Cereal App-Bold", Helvetica;
    font-weight: 700;
    color: #424242;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal
}

.p {
    position: absolute;
    width: 296px;
    top: 42px;
    left: 0;
    font-family: "Airbnb Cereal App-Book", Helvetica;
    font-weight: 400;
    color: #424242;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal
}

.catalog-2 {
    position: relative;
    width: 321px;
    height: 340px
}

.rectangle {
    position: absolute;
    width: 320px;
    height: 340px;
    top: 0;
    left: 0;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 25px #00000040
}

.text-wrapper-2 {
    position: absolute;
    width: 316px;
    top: 211px;
    left: 4px;
    font-family: "Airbnb Cereal App-Bold", Helvetica;
    font-weight: 700;
    color: #424242;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal
}

.element {
    position: absolute;
    width: 320px;
    display: block;
    height: 200px;
    top: 0;
    left: 1px;
    object-fit: cover
}

.text-wrapper-3 {
    width: 298px;
    top: 249px;
    left: 18px;
    position: absolute;
    font-family: "Airbnb Cereal App-Book", Helvetica;
    font-weight: 400;
    color: #424242;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal
}

.catalog-3 {
    position: relative;
    width: 411px;
    height: 340px
}

.text-wrapper-4 {
    width: 287px;
    top: 248px;
    left: 22px;
    position: absolute;
    font-family: "Airbnb Cereal App-Book", Helvetica;
    font-weight: 400;
    color: #424242;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal
}

.text-wrapper-5 {
    position: absolute;
    width: 320px;
    top: 208px;
    left: 91px;
    font-family: "Airbnb Cereal App-Bold", Helvetica;
    font-weight: 700;
    color: #424242;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal
}

.overlap-4 {
    position: absolute;
    width: 1682px;
    height: 1024px;
    top: 0;
    left: 0
}

.overlap-5 {
    position: relative;
    width: 100%;
    height: 80px
}

.overlap-group-2 {
    position: relative;
    width: 179px;
    height: 30px
}

.text-wrapper-6 {
    position: absolute;
    width: 179px;
    top: 0;
    left: 0;
    font-family: "Airbnb Cereal App-Bold", Helvetica;
    font-weight: 700;
    color: #424242;
    font-size: 17px;
    letter-spacing: 0;
    line-height: normal
}

.overlap-6 {
    position: relative;
    width: 406px;
    height: 43px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid;
    border-color: #cacaca
}

.text-wrapper-7 {
    position: absolute;
    width: 240px;
    top: 10px;
    left: 77px;
    font-family: "Airbnb Cereal App-Medium", Helvetica;
    font-weight: 500;
    color: #cacaca;
    font-size: 17px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap
}

.bookshelf {
    width: 50px;
    height: 50px;
    top: 12px;
    left: 904px;
    object-fit: cover
}

.text-wrapper-8 {
    width: 187px;
    top: 20px;
    left: 956px;
    font-family: "Airbnb Cereal App-Bold", Helvetica;
    font-weight: 700;
    color: #424242;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal
}

.new-book {
    max-width: 100%;
    height: auto
}

span {
    margin-left: 30px;
    font-family: "Airbnb Cereal App-Bold", Helvetica;
    font-weight: 700;
    margin-bottom: 5px;
    padding: 15px
}

.new-book-3 {
    position: absolute;
    width: 557px;
    height: 310px;
    top: 110px;
    left: 1230px;
    border-radius: 18px
}

.overlap-7 {
    position: relative;
    width: 370px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 4px 30px #00000040
}

.text-wrapper-9 {
    position: absolute;
    width: 244px;
    top: 232px;
    left: 82px;
    font-family: "Airbnb Cereal App-Bold", Helvetica;
    font-weight: 700;
    color: #000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal
}

.text-wrapper-10 {
    position: absolute;
    width: 244px;
    top: 345px;
    left: 49px;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
    transition: color .3s ease
}

.text-wrapper-11 {
    position: absolute;
    width: 244px;
    top: 415px;
    left: 49px;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
    transition: color .3s ease
}

.text-wrapper-12 {
    position: absolute;
    width: 148px;
    top: 486px;
    left: 49px;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
    transition: color .3s ease
}

.text-wrapper-10:hover,
.text-wrapper-11:hover,
.text-wrapper-12:hover {
    color: red
}

.overlap-8 {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    box-shadow: 0 4px 10px #00000040;
    position: relative;
    background-color: #fff
}

.text-wrapper-13 {
    left: 19px;
    position: absolute;
    width: 24px;
    top: 10px;
    font-family: "Airbnb Cereal App-Bold", Helvetica;
    font-weight: 700;
    color: #424242;
    font-size: 35px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap
}

.element-2 {
    position: fixed;
    width: 150px;
    height: 150px;
    top: 66px;
    left: 94px;
    object-fit: cover;
    border-radius: 100px
}

.menu {
    position: fixed;
    width: 20px;
    height: 20px;
    top: 22px;
    left: 306px;
    object-fit: cover
}

.new-book-2 {
    position: absolute;
    width: 660px;
    height: 360px;
    top: 90px;
    left: 565px
}

.text-wrapper-14 {
    left: 22px;
    position: absolute;
    width: 24px;
    top: 10px;
    font-family: "Airbnb Cereal App-Bold", Helvetica;
    font-weight: 700;
    color: #424242;
    font-size: 35px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap
}

.text-wrapper-15 {
    position: absolute;
    width: 242px;
    top: 493px;
    left: 387px;
    font-family: "Airbnb Cereal App-Bold", Helvetica;
    font-weight: 700;
    color: #424242;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal
}

.image-container {
    position: relative;
    display: inline-block;
    justify-content: space-between;
    top: 110px;
    border-radius: 10px
}

.navbar-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 200px;
    padding-right: 150px;
    padding-bottom: 11px
}

.logo img.bookshelf {
    width: 50px;
    height: 50px;
    object-fit: cover
}

.rect5 {
    width: 120px;
    height: 37px;
    left: 0;
    top: 0;
    position: absolute;
    background: #fff;
    border-radius: 8px;
    border: .5px #dbdbdb solid
}

.logout {
    left: 47px;
    top: 6px;
    position: absolute;
    color: #000;
    font-size: 18px;
    font-family: "Airbnb Cereal App-Bold", Helvetica;
    font-weight: 700;
    word-wrap: break-word;
    transition: color .3s ease
}

.logout:hover {
    color: red
}

.logout-img {
    width: 21.99px;
    height: 21.99px;
    left: 15.02px;
    top: 8px;
    position: absolute
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 999
}

.modal-content {
    position: absolute;
    width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3)
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer
}

.d-block {
    display: block
}

.grid-form {
    display: grid;
    gap: 10px
}

.form-group {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    align-items: center
}

.form-group label {
    font-weight: 700
}

.form-group input[type=text],
.form-group textarea {
    width: 96%;
    padding: 12px;
    border: 1px solid #000;
    border-radius: 4px;
    resize: vertical
}

#save-button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #fbcc38;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer
}

#save-button:hover {
    background-color: #ebb40f
}

.carousel-cell {
    width: 50%;
    height: 290px;
    margin-right: 10px;
    background-color: #8c8;
    border-radius: 5px;
    object-fit: fill
}

.cover-book {
    width: 100%;
    object-fit: fill;
    object-position: center 10%
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 32px;
    font-weight: 700
}

.primary-font {
    font-family: "Airbnb Cereal App-Bold", Helvetica
}

@media screen and (max-width:767px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
        padding-left: 0
    }

    .carousel-cell {
        width: 100%;
        margin-right: 0
    }

    .carousel {
        width: 100%;
        margin-top: 10px
    }

    .overlap {
        width: 100%
    }

    .sidebar {
        display: none
    }

    .logo {
        padding-left: 10px;
        padding-right: 10px
    }

    .text-wrapper-8 {
        font-size: 24px
    }
}

@media screen and (min-width:768px) {
    .container {
        padding-left: 15px;
        padding-right: 15px
    }

    .logo img.bookshelf {
        width: 50px;
        height: 50px;
        object-fit: cover
    }
}

.sidebar {
    background-color: #fff;
    display: none;
    height: 95%;
    position: fixed;
    top: 45px;
    left: 0;
    padding: 20px;
    box-shadow: 0 4px 30px #00000040;
    transition: width .3s ease
}

.sidebar.close {
    width: 355px;
    display: flex;
    flex-direction: column
}

.sidebar-logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px
}

.user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px
}

.sidebar h3 {
    font-family: "Airbnb Cereal App-Bold", Helvetica;
    font-weight: 700;
    color: #000;
    font-size: 24px;
    margin: 0
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0
}

.sidebar-menu-item {
    margin-bottom: 10px
}

.sidebar-link {
    text-decoration: none;
    color: #000;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 20px;
    transition: color .3s ease
}

.sidebar-link:hover {
    color: red
}

.sidebar-logout {
    margin-top: auto
}

.logout-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #000;
    font-family: "Airbnb Cereal App-Bold", Helvetica;
    font-weight: 700;
    font-size: 20px;
    transition: color .3s ease
}

.logout-link:hover {
    color: red
}

.rect5 {
    width: 120px;
    height: 37px;
    background: #fff;
    border-radius: 8px;
    border: .5px #dbdbdb solid
}

.logout-text {
    margin-left: 10px
}

.logout-img {
    width: 22px;
    height: 22px;
    margin-left: 15px
}

#menu-toggle {
    background: 0 0;
    border: none;
    cursor: pointer;
    padding: 0
}

#menu-toggle .navbar-toggler-icon {
    background-color: #fff;
    width: 30px;
    height: 3px;
    border-radius: 2px;
    transition: background-color .3s ease
}

#menu-toggle .navbar-toggler-icon:focus {
    outline: 0
}